/* Hanya berpengaruh di jendela preview */
.blog-preview-container {
  background: #000 !important;
  color: #fff !important;
  padding: 40px;
  min-height: 100vh;
}
.category-badge {
  border: 1px dashed #555 !important;
  padding: 5px 15px;
  display: inline-block;
  font-size: 10px;
}
.preview-title {
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 20px;
}
